// Grays
$color: #252526;
$color2: #313134;
$color3: #3e3e40;
$color4: #4a4a4d;
$color5: #575759;


$papaya: #e5e338;
$petal: #d48cf8;
// ; - red


// #e5e338; lime
// $petal: #d48cf8;




//  rgba(241, 90, 36, 1);
$mainGrey: #cdcdcd;
//  - petal
// #eab126