// Connecting to scss files

@import "setup";
@import "typography";
@import "utils";

// reusable classes 

.fullView {
    height: 100vh;
}

body{
    max-width: 1920px;
    background-color: $papaya;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.button {
    a {
        border: 1px solid white;
        color: white;
        padding: 10px 20px;
        @include fontSize (20);
        text-transform: uppercase;
        font-family: 'Questrial', sans-serif;
    }
    
}

a {
    text-decoration: none;
}

// header styles

header {
    display: flex;
    justify-content: space-around;
    p {
        text-align: right;
        font-family: 'Questrial', sans-serif;
        // text-transform: uppercase;
        color: white;
        @include fontSize(40);
        line-height: 1.3;
        margin-right: 20%;
    }
}






// header text styling


// @function makelongshadow($color, $color2, $color3, $color4, $color5) {

@function makelongshadow($petal) {
  $val: 0px 0px $color;
  @for $i from 1 through 300 {
    $val: #{$val}, -#{$i}px #{$i}px #{$petal};
  }
//   @for $i from 31 through 100 {
//     $val: #{$val}, -#{$i}px #{$i}px #{$petal2};
//   }
//   @for $i from 101 through 151 {
//     $val: #{$val}, -#{$i}px #{$i}px #{$petal3};
//   }
//   @for $i from 151 through 201 {
//     $val: #{$val}, -#{$i}px #{$i}px #{$color2};
//   }
//   @for $i from 201 through 251 {
//     $val: #{$val}, -#{$i}px #{$i}px #{$color};
//   }
  @return $val;
}


.mainHeader h1 {
    margin-left: 15%;
	line-height: 1;
	text-align: left;
	@include fontSize(150);
    color: #EDEEE9;
    font-family: shrikhand;
    // text-transform: uppercase;
    // text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
    text-shadow: makelongshadow($petal);
}
